{% load bootstrap %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrada/Saída</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="container">
    <div class="row ">
      <div class="pt-4 text-center">
        <h1>Todas as vendas</h1>
        <h2>Colaborador: {{user.nome}}</h2>
        <br>
        <a href="/vendas/{{user.id}}" class="btn btn-warning">Voltar</a>


      </div>
    </div>


    <div class="row justify-content-center text-center">


      <div class="col-sm-6">
        <br>
        <h4>Total a receber: <br>
          R$ {{total_comissao}}0</h4>

      </div>
    </div>

    <div class="row">
      <div class="table-responsive pt-2 pb-2">

        <!-- {{dados.db.id}} <br> -->

        <table class="table table-striped">
          <thead class="text-center">
            <tr>
              <th scope="col">Id (Item)</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Data da venda</th>
              <th scope="col">Valor do Item</th>
              <!-- <th scope="col">Comissão (R$)</th> -->

            </tr>
          </thead>
          <tbody class="text-center">

            {% for obj in object_list %}
            <tr>
              {% if user.id == obj.funcionario_id %}
              <th scope="row">{{obj.id}}</th>
              <td>{{obj.nome_item}}</td>
              <td>{{obj.descricao_item}}</td>
              <td>{{obj.data_venda}}</td>
              <td>R$: {{obj.valor_venda}},00</td>
              <!-- <td>{user.comissao * 2}</td> -->

              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </div>

  <!-- <div class="row">
    <div class="table-responsive pt-2 pb-2">

      <!-- {{dados.db.id}} <br> 

  <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th scope="col">Id (Item)</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data da venda</th>
        <th scope="col">Valor do Item</th>
         <th scope="col">Comissão (R$)</th> 

      </tr>
    </thead>
    <tbody class="text-center">

      {% for obj in object_list %}
      <tr>
        {% if user.id == obj.funcionario_id %}
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.nome_item}}</td>
        <td>{{obj.descricao_item}}</td>
        <td>{{obj.data_venda}}</td>
        <td>R$:{{obj.valor_venda}},00</td>
       <td>{user.comissao * 2}</td> 

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div> -->

  </div>



  </div>
</body>

</html>