{% load bootstrap %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada/Saída</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>


    <div class="container" style="padding: 50px 0;">
        <div class="row text-center">
            <h1>Folha de Pagamento</h1>
        </div>
        <br><br>

        <div class="text-center">
            <a href="/" class="btn btn-warning text-center">Voltar</a>
            <a href="/rodar_folha" class="btn btn-warning text-center">Rodar folha</a>
            
        </div>
        <br><br>
        <div class="row text-center">
            <h3>Horistas</h3>
        </div>

        <div class="table-responsive pt-2 pb-2" style="font-size: 14px">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Val. Hora</th>
                        <th scope="col">Sindicato</th>
                        <th scope="col">Forma de pagamento</th>
                        <th scope="col">Total a Receber</th>
                        <th scope="col">Data de Pagamento</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for user in users %}
                    {% if user.is_active == True %}

                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.nome}}</td>
                        <td>{{user.endereco}}</td>
                        {% if user.tipo == "COMISSIONADO"%}
                        <td>COMISS.</td>
                        {% else %}
                        <td>{{user.tipo}}</td>
                        {% endif %}
                        <td>R$: {{user.salario}},00</td>

                        {% if user.sindicato %}
                        <td>Sim</td>
                        {% else %}
                        <td>Não</td>
                        {% endif %}

                        <td>{{user.forma_pagamento}}</td>

                        <td>R$: {{user.total_a_receber}},00</td>

                        <td>
                            {{user.data_pagamento|date:"d/m/Y"}}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

    </div>

</body>

</html>