<div class="row justify-content-center pt-5">
    <div class="col-sm-6">
        <form name="ponto_form" id="ponto_form" method="post" action="/ponto/{{db.id}}"> 
            <div class="form-group row">
              <label class="col-3 col-form-label" for="hora_entrada">Hora de Entrada</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <!-- <div class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </div> -->
                  </div> 
                  <input id="hora_entrada" name="hora_entrada" type="time" class="form-control">
                </div>
              </div>
            </div> 

            <div class="form-group row mt-4">
                <label class="col-3 col-form-label" for="hora_entrada">Hora de Saída</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <!-- <div class="input-group-text">
                          <i class="fas fa-clock"></i>
                      </div> -->
                    </div> 
                    <input id="hora_saida" name="hora_saida" type="time" class="form-control">
                  </div>
                </div>
              </div> 


              <div class="form-group row mt-4">
                <label class="col-3 col-form-label" for="hora_entrada">Dia de serviço</label> 
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <!-- <div class="input-group-text">
                          <i class="fas fa-clock"></i>
                      </div> -->
                    </div> 
                    <input id="data_ponto" name="data_ponto" type="date" class="form-control">
                  </div>
                </div>
              </div> 
            <br>
              <div class="justify-content-center text-center  pt-6">
                <button name="submit" type="submit" class="btn btn-primary">Cadastrar Ponto</button>
              </div>
            </div>
          </form>
</div>