<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <title>Sistema de Folha de Pagamento</title>
</head>

<body>
  <div class="container">
    <div class="col-8 pt-2 pb-2">
      <h1>Sistema de Folha de Pagamento</h1>
    </div>

    <div class="col-8 pt-2 pb-2">
      <a href="/form" class="btn btn-success text-center">Adicionar</a>
    </div>

    <div class="table-responsive pt-2 pb-2" style="font-size: 14px">
      <table class="table table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Tipo</th>
            <th scope="col">Salário</th>
            <th scope="col">Comissão</th>

            <th scope="col">Pertence ao Sindicato</th>
            <th scope="col">Forma de pagamento</th>

            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for dbs in db %}
          <tr>
            <th scope="row">{{dbs.id}}</th>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.endereco}}</td>
            {% if dbs.tipo == "COMISSIONADO"%}
            <td>COMISS.</td>
            {% else %}
            <td>{{dbs.tipo}}</td>
            {% endif %}
            <td>R$: {{dbs.salario}},00</td>

            {% if dbs.tipo == "COMISSIONADO"%}
            <td>{{dbs.comissao}}%</td>
            {% else %}
            <td>0</td>
            {% endif %} {% if dbs.sindicato %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}

            <td>{{dbs.forma_pagamento}}</td>

            <td>
              {% if dbs.tipo == "HORISTA"%}
              <a class="btn btn-info text-white" href="/ponto/{{dbs.id}}">Ponto</a>
              {% endif %} {% if dbs.tipo == "COMISSIONADO"%}
              <a class="btn btn-dark text-white" href="/vendas/{{dbs.id}}">Venda</a>
              {% endif %}
              <!-- 
                <a class="btn btn-success" href="/view/{{dbs.id}}/"
                  >Detalhes</a
                > -->
              <a class="btn btn-warning" href="/edit/{{dbs.id}}">Editar</a>

              <a class="btn btn-danger btnDel" href="/delete/{{dbs.id}}">Excluir</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% load static %}

  <script src="{% static 'script.js' %}"></script>
</body>

</html>