<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Sistema de Folha de Pagamento</title>
  </head>
  <body>
    <div class="container">
      <div class="col-8 pt-2 pb-2">
        <h1>Sistema de Folha de Pagamento</h1>
      </div>

      <div class="col-8 pt-2 pb-2">
        <a href="/form" class="btn btn-success text-center">Adicionar</a>
      </div>

      <div class="table-responsive pt-2 pb-2">
        <table class="table table-striped">
          <thead class="text-center">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Endereço</th>
              <th scope="col">Tipo</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for dbs in db %}
            <tr>
              <th scope="row">{{dbs.id}}</th>
              <td>{{dbs.nome}}</td>
              <td>{{dbs.endereco}}</td>
              <td>{{dbs.tipo}}</td>

              <td>
                {% if dbs.tipo == "Horista"%}
                <a class="btn btn-info text-white">Cartão de ponto</a>
                {% endif %}

                <a class="btn btn-success" href="/view/{{dbs.id}}/"
                  >Ver Detalhes</a
                >
                <a class="btn btn-warning" href="/edit/{{dbs.id}}"
                  >Editar Dados</a
                >

                <a class="btn btn-danger btnDel" href="/delete/{{dbs.id}}"
                  >Excluir</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% load static %}

    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
