<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css"
    integrity="sha512-oM24YOsgj1yCDHwW895ZtK7zoDQgscnwkCLXcPUNsTRwoW1T1nDIuwkZq/O6oLYjpuz4DfEDr02Pguu68r4/3w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css"
    integrity="sha512-9h7XRlUeUwcHUf9bNiWSTO9ovOWFELxTlViP801e5BbwNJ5ir9ua6L20tEroWZdm+HFBAWBLx2qH4l4QHHlRyg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

  <!-- JavaScript -->

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

  <title>Sistema de Folha de Pagamento</title>
</head>

<body>
  <div class="container" style="padding: 50px 0;">
    <div class="row text-center">
      <h1>Sistema de Folha de Pagamento</h1>
    </div>
    <br><br>

    <div class="text-center">
      <a href="/form" class="btn btn-success text-center">Adicionar</a>
      <a href="/pagamento" class="btn btn-secondary">Folha de Pagamento</a>
      <a href="/painel_sindicato" class="btn btn-info text-white">Painel do Sindicato</a>
    </div>
    <br><br>

    <div class="row text-center">
      <h3>Comissionados</h3>
    </div>

    <div class="table-responsive pt-2 pb-2" style="font-size: 14px">
      <table class="table table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Tipo</th>
            <th scope="col">Salário</th>

            <th scope="col">Sindicato</th>
            <th scope="col">Forma de pagamento</th>
            <th scope="col">Total a Receber</th>

            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for dbs in db %}
          {% if dbs.is_active == True%}

          <tr>
            <th scope="row">{{dbs.id}}</th>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.endereco}}</td>
            {% if dbs.tipo == "COMISSIONADO"%}
            <td>COMISS.</td>
            {% else %}
            <td>{{dbs.tipo}}</td>
            {% endif %}
            <td>R$: {{dbs.salario}},00</td>
            {% if dbs.sindicato %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}

            <td>{{dbs.forma_pagamento}}</td>

            <td>R$: {{dbs.total_a_receber}},00</td>

            <td>
              {% if dbs.tipo == "HORISTA"%}
              <a class="btn btn-info text-white" href="/ponto/{{dbs.id}}">Ponto</a>
              {% endif %} {% if dbs.tipo == "COMISSIONADO"%}
              <a class="btn btn-dark text-white" href="/vendas/{{dbs.id}}">Venda</a>
              {% endif %}
              <a class="btn btn-secondary" href="/edit/{{dbs.id}}">Editar</a>
              <a class="btn btn-warning" href="/desativar/{{dbs.id}}">Apagar</a>

              <button onclick="getId({{dbs.id}})" type="button" class="btn btn-primary botao" data-toggle="modal" data-target="#exampleModal">
                Agenda de Pagamentos
              </button>

            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>

    <div class="row text-center">
      <h2>Funcionários Desativados</h2>
    </div>

    <div class="table-responsive pt-2 pb-2" style="font-size: 14px">
      <table class="table table-striped">
        <thead class="text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Tipo</th>
            <th scope="col">Salário</th>
            <!-- <th scope="col">Comissão</th> -->

            <th scope="col">Sindicato</th>
            <th scope="col">Forma de pagamento</th>

            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for dbs in db %}
          {% if dbs.is_active == False %}

          <tr>
            <th scope="row">{{dbs.id}}</th>
            <td>{{dbs.nome}}</td>
            <td>{{dbs.endereco}}</td>
            {% if dbs.tipo == "COMISSIONADO"%}
            <td>COMISS.</td>
            {% else %}
            <td>{{dbs.tipo}}</td>
            {% endif %}
            <td>R$: {{dbs.salario}},00</td>


            {% if dbs.sindicato %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}


            <td>{{dbs.forma_pagamento}}</td>

            <td>

              <a class="btn btn-success" href="/reativar/{{dbs.id}}">Reativar</a>

              <a class="btn btn-danger btnDel" href="/delete/{{dbs.id}}">Excluir</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="nova_data">Insira a nova data de pagamento</label>
        <input id="nova_data" class="form-control" type="text">
      </div>
      <div class="modal-footer">
        <button id="salvar_data" type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

  {% load static %}
  <script src="{% static 'agenda.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
  
</body>

</html>